{% comment %}
  The contents of the page.etails.liquid template can be found in /sections/page-details-template.liquid
{% endcomment %}

{% section 'page-details__main-2' %}
<div class="details2_compare_products_container">
  {% section 'compare-products' %}
</div>
{% section 'page-details__main-2-2' %}