<main class="main" id="main">
  {% section 'product__main_1' %}
  {% section 'text-with-video_1' %}
  {% section 'product__image-with_text1_1' %}
  {% section 'product__image-with_text2_1' %}
  {% section 'product__image-with_text3_1' %}
  {% section 'product__image-with_text4_1' %}
  {% section 'product-award-winning_1' %}
  {% section 'product-vertical-animation-images_1' %}
  {% section 'centered-image_1' %}
  {% section 'index__image-with-text-overlay_1' %}
  {% section 'product-walkolution-principle_1' %}
  {% section 'image-with-text-1_1' %}
  {% section 'image-and-text-blocks_1' %}
  <div id="shopify-section-product__ar-viewer">
    {% render 'angle-3d-configurator-customizer' %}
  </div>
  {% render 'product-reviews' %}
  {% section 'visit-showrooms' %}
  </main>