<main class="main" id="main">
  {% section 'product__main_2' %}
  {% section 'text-with-video_2' %}
  {% section 'product__image-with_text1_2' %}
  {% section 'product__image-with_text2_2' %}
  {% section 'product__image-with_text3_2' %}
  {% section 'product__image-with_text4_2' %}
  {% section 'product-award-winning_2' %}
  {% section 'product-vertical-animation-images_2' %}
  {% section 'centered-image_2' %}
  {% section 'index__image-with-text-overlay_2' %}
  {% section 'product-walkolution-principle_2' %}
  {% section 'image-with-text-1_2' %}
  {% section 'image-and-text-blocks_2' %}
  <div id="shopify-section-product__ar-viewer">
    {% render 'angle-3d-configurator-customizer' %}
  </div>
  {% render 'product-reviews' %}
  {% section 'visit-showrooms' %}
  </main>