<main class="main" id="main">
  {% section 'product__main_5' %}
  {% section 'text-with-video_5' %}
  {% section 'product__image-with_text1_5' %}
  {% section 'product__image-with_text2_5' %}
  {% section 'product__image-with_text3_5' %}
  {% section 'product__image-with_text4_5' %}
  {% section 'product-award-winning_5' %}
  {% section 'product-vertical-animation-images_5' %}
  {% section 'centered-image_5' %}
  {% section 'index__image-with-text-overlay_5' %}
  {% section 'product-walkolution-principle_5' %}
  {% section 'image-with-text-1_5' %}
  {% section 'image-and-text-blocks_5' %}
  <div id="shopify-section-product__ar-viewer">
    {% render 'angle-3d-configurator-customizer' %}
  </div>
  {% render 'product-reviews' %}
  {% section 'visit-showrooms' %}
  </main>