<main class="main" id="main">
{% section 'product__main' %}
{% section 'text-with-video' %}
{% section 'product__image-with_text1' %}
{% section 'product__image-with_text2' %}
{% section 'product__image-with_text3' %}
{% section 'product__image-with_text4' %}
<!-- {% section 'image_with_text_overaly' %} -->
{% section 'product-award-winning' %}
{% section 'product-vertical-animation-images' %}
{% section 'centered-image' %}
<!-- {% section 'product-video-animation' %} -->
{% section 'index__image-with-text-overlay' %}
{% section 'product-walkolution-principle' %}
{% section 'image-with-text-1' %}
{% section 'image-and-text-blocks' %}
<div id="shopify-section-product__ar-viewer">
  {% render 'angle-3d-configurator-customizer' %}
</div>
{% render 'product-reviews' %}
{% section 'visit-showrooms' %}
</main>