{% if section.settings.title != blank %}
<div class="section__title">
    {{ section.settings.title }}
</div>
{% endif %}
{% if section.settings.text != blank %}
<div class="section__content">
    {{ section.settings.text }}
</div>
{% endif %}
<div class="icons-wrap">
    {% for block in section.blocks %}
      <div class="icon-item">
        {% render 'image-element',
            image: block.settings.icon_image,
            alt: image.alt
        %}
      </div>
    {% endfor %}
  </div>
{% schema %}
{
    "name": "Featured Text Icons",
    "class": "featured-text__icons",
    "settings": [
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        }
    ],
    "blocks": [
        {
            "type": "icon",
            "name": "Image Icon",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "icon_image",
                    "label": "Image Icon"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Text with Icons",
            "name": "Feature Text With Icons"
        }
    ]
}
{% endschema %}