<div class="title-wrap parallax-title faster">
  <div class="title-line-1 go-right">
    <span>The Walkolution Principle. The Walkolution Principle</span>
  </div>
  <div class="title-line-2 go-left">Walk. Lean back. Stand. Repeat. Walk. Lean back. Stand. Repeat</div>
</div>
{% schema %}
{
  "name": "The Walkolution Principle",
  "class": "the-walkolution-principle",
  "settings": [
  ],
  "presets": [
    {
      "name": "The Walkolution Principle"
    }
  ]
}
{% endschema %}