<div class="product-reviews-widget container is-width-standard">
  <div id="enormReviews" class="enorm-reviews" data-id="{{product.id}}" data-title="{{ product.title }}" data-handle="{{ product.handle }}" data-image="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}"></div>
</div>